#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
  padding: 2rem;
  align-items: stretch;
  background: linear-gradient(135deg, #F1C40F, #00CED1);
  border-radius: 15px;
}



